<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="datasource_remote" class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
          destroy-method="close">
        <property name="driverClassName" value="${remote.jdbc.driver}"/>
        <property name="url" value="${remote.jdbc.url}"/>
        <property name="username" value="${remote.jdbc.username}"/>
        <property name="password" value="${remote.jdbc.password}"/>
    </bean>

</beans>